* {
    margin: 0;
    padding: 0;
}

body {
    font-family:"Monaco","Console",monospace;
    font-size:32px;
    margin-top: 5rem;
    background-color: hsl(330, 3%, 11%);
}
.container{
    /*border: 2px solid purple;*/
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.calculator{
    width:24rem;
    padding: 2em 1em;
    padding-top:3em;
    background-color: hsl(325, 65%, 13%);
    border-radius: 10px;
    /*border:2px solid red;*/
    display:flex;
    flex-direction: column;
    align-items:center;
}
.calc-input{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
button{
    font-size:32px;
    font-weight: 800;
    font-family:sans-serif;
    /*border:2px solid blue;*/
    box-sizing:border-box;
    border-radius:1rem;
    border: 0.25rem solid hsl(325, 65%, 13%);
    height: 6rem;
    aspect-ratio: 1/1;
    background-color: hsl(325, 22%, 47%);
}

#clear {
    aspect-ratio: 2/1;
}
.calc-output{
    font-size: 48px;
    text-align: end;
    background-color: hsl(325, 20%, 75%);;
    /*border:2px solid green;*/
    border-radius:0.5rem;
    height:8rem;
    width: 24rem;
    margin-bottom:4rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between
}
.previous-number{
    /*border:2px solid orange;*/
    text-align:start;
    font-size: 32px;
    flex: 1 1 1;
    min-height: 2em;
}
.current-number{
    /*border:2px solid salmon;*/
    height:8rem;
    flex: 1 1 2;
    min-height: 0;
    align-self:flex-end;
    justify-content: flex-end;
}
button:hover {
    background-color: hsl(325, 50%, 66%);
}